# --- Python & Virtual Environment ---
__pycache__/
*.py[cod]
venv/

# --- Configuration & Secrets (CRITICAL) ---
keys/
*config.yaml
synclist.yaml
configs/
config_library/

# --- Runtime State & Databases ---
current_status.json
step_status.json
step_action.json
session_state.json
user_db.csv

# --- Logs & Output ---
logs/
*.log

# --- Backups & Archives ---
backups/
*.zip
#*.bak

# --- OS & Misc ---
.DS_Store
Thumbs.db
isync.sb

# --- General Wildcards ---
*.json
